.container {
<<<<<<< HEAD
    margin: 20px 0px 50px 0px;
    text-align: center;
}
.searchContainer {
    width: 400px;
}
=======
    margin: 50px 0;
    text-align: center;
}
>>>>>>> bb96cf37f982f8ae9a31130b8ac4894232d982b5
.titletxt {
    text-align: center;
    margin: 50px;
}
.typo {
  text-align: center;
  margin-bottom: 10px;
}

.datacards {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

}
.infected {
    border-bottom: 4px solid rgba(0,0,255, 0.5) !important;
    border: 1px solid rgba(0,0,255, 0.5);
    padding: 10px;
    float: left;
    margin-top: 15px;
    width: 70px;
    text-align: center;
    margin-left: 15px;
}
.recovered {
    border-bottom: 4px solid rgba(0,255,0, 0.5)!important;
    border: 1px solid rgba(0,255,0, 0.5);
    padding: 10px;
    float: left;
    width: 70px;
    text-align: center;
    margin-top: 15px;
    margin-left: 15px;
}
.deaths {
    border-bottom: 4px solid rgba(255,0,0, 0.5)!important;
    border: 1px solid rgba(255,0,0, 0.5);
    padding: 10px;
    float: left;
    width: 70px;
    text-align: center;
    margin-top: 15px;
    margin-left: 15px;
}

.dailyinfected {
    border-bottom: 3px solid rgba(0,0,255, 0.5) !important;
    background-color: rgba(202, 202, 255, 0.5);
    padding: 10px;
    float: left;
    margin-top: 15px;
    width: 70px;
    text-align: center;
    margin-left: 15px;
}
.dailyrecovered {
    border-bottom: 3px solid rgba(0,255,0, 0.5)!important;
    background-color: rgba(169, 255, 169, 0.5);
    padding: 10px;
    float: left;
    width: 70px;
    text-align: center;
    margin-top: 15px;
    margin-left: 15px;
}
.dailydeaths {
    border-bottom: 3px solid rgba(255,0,0, 0.5)!important;
    background-color: rgba(255, 155, 155, 0.5);
    padding: 10px;
    float: left;
    width: 70px;
    text-align: center;
    margin-top: 15px;
    margin-left: 15px;
}