.container {
    margin: 50px 0;
}

.card {
    margin: 0 2% !important;
}

.infected {
    border-bottom: 10px solid rgba(0,0,255, 0.5) !important;
    border: 1px solid rgba(0,0,255, 0.5);
    background-color: rgba(218, 218, 255, 0.5) !important;
}
.recovered {
    border-bottom: 10px solid rgba(0,255,0, 0.5)!important;
    border: 1px solid rgba(0,255,0, 0.5);
    background-color:  rgba(223, 255, 223, 0.5)!important;
}
.deaths {
    border-bottom: 10px solid rgba(255,0,0, 0.5)!important;
    border: 1px solid rgba(255,0,0, 0.5);
    background-color: rgba(255, 210, 210, 0.5)!important;
}

@media (max-width: 770px) {
    .card {
        margin: 2% 0 !important;
    }
}