.container {
    margin: 50px 0;
}

.card{
    margin: 0 2% !important;
    background: linear-gradient(45deg, #d1d1d1 30%, #d1d1d1 90%);
}

.Header{
    background:  linear-gradient(45deg, #727272 30%,#727272 90%);
    margin-bottom: 10px;
}
.Confirmed{
    text-align: center;
}

.Deaths{
    text-align: center;
}

.Recovered{
    text-align: center;
}