.ErrorContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.Error{
    display: flex;
    flex-direction: column;
}

.Error_button{
    margin-top:10px;
    background: var(--header-color);
    border: 0;
    border-radius: 10px;
    padding: 10px 0;
    box-shadow: 0 5px 20px rgba(0,0,0,.07);
    font-size: 1.2rem;
}

