textarea:focus,
input:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}

/* form starting stylings ------------------------------- */
.Group {
  position: relative;
  flex: 1;
}
input {
  background: none;
  font-size: 1rem;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  color: var(--text-color-normal);
  border-bottom: 1px solid #757575;
}
input:focus {
  outline: none;
}

/* LABEL ======================================= */
label {
  color: var(--text-color-light);
  font-size: 1rem;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
input:valid ~ label {
  top: -15px;
  font-size: 0.8rem;
  color: var(--text-color-normal);
}

/* BOTTOM BarS ================================= */
.Bar {
  position: relative;
  display: block;
  width: 100%;
}
.Bar:before,
.Bar:after {
  content: "";
  height: 1px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: var(--text-color-normal);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.Bar:before {
  left: 50%;
}
.Bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .Bar:before,
input:focus ~ .Bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.Highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus ~ .Highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}
