@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html {
  font-size: 14px;
  scroll-behavior: smooth;
}

:root {
  --text-color-normal: #040d1d;
  --text-color-slight: rgb(117, 117, 117);
  --text-color-light: #918f8f;
  --text-color-vlight: rgb(224, 224, 224);

  --background-color: rgb(248, 248, 248);
  --background-color-darker: rgb(214, 214, 214);
  --background-color-selected: rgb(249, 249, 249);
  --background-color-sec: rgb(255, 255, 255);

  --header-color: white;

  --primary: rgb(121, 100, 126);
}

/* #root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.mainContent{
  flex: 1;
} */

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

a:link,
a:visited {
  color: var(--text-color-normal);
  text-decoration: none;
}

a:hover {
  color: var(--text-color-slight);
}
a:active {
  color: var(--text-color-light);
}

/* html{
  color:var(--text-color-normal);
} */

body {
  margin: 0;
  font-family: -apple-system, Lato, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color-normal);
}

.cardMaterial {
  background: var(--background-color-sec);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.07);
  /* border-top: 1px solid var(--text-color-vlight);
  border-bottom: 1px solid var(--text-color-vlight); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-box {
  padding: 0;
}




.headerText {
  margin: 25px 0 30px 0;
  font-size: 1.5rem;
  font-weight: 600;
  position: relative;
}

.headerText:after {
  display: block;

  width: 20px;
  height: 2px;
  content: "";
  background: var(--text-color-normal);
  position: absolute;
  bottom: -15px;
  left: 0;
}

.colLeft {
  padding: 0;
  display: flex;
  flex-direction: column;
}
.colRight {
  padding: 0;
}

.flexDefault {
  flex: 1;
}

/*######################### MEDIA ######################### */

@media (prefers-color-scheme: dark) {
  :root {
    --text-color-normal: #e8ebf0;
    --text-color-slight: #c1c3c5;
    --text-color-light: #c1c3c5;
    --text-color-vlight: rgb(73, 73, 73);

    --background-color: rgb(18, 18, 18);
    --background-color-selected: rgb(51, 51, 51);
    --background-color-sec: rgb(31, 31, 31);

    --header-color: rgb(31, 31, 31);
    --primary: rgb(248, 172, 219);
  }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .colLeft {
    padding-right: 7.5px !important;
  }
  .colRight {
    padding-left: 7.5px !important;
  }

  .headerText {
    margin-right: 0;
    margin-left: 0;
  }
  .main-box {
    padding: 15px 0;
  }
  .cardMaterial {
    padding: 20px;
    border: none;
    margin-bottom: 15px;
  }
  html {
    font-size: 15px;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}
